<footer class="footer footer-white">
    <div class="container">
        <!--div class="row col-4">
      <a class="footer-brand m-auto mr-0" href="#">A & Z</a>
      <div class="info-horizontal  m-auto ml-2">
        <div class="description">
          hola hola
        </div>
      </div>
    </div-->

        <ul class="pull-center col-8">
            <li>
                <a href="#pablo">
          Creative Tim
        </a>
            </li>
            <li>
                <a href="#pablo">
          About Us
        </a>
            </li>
            <li>
                <a href="#pablo">
          Blog
        </a>
            </li>
            <li>
                <a href="#pablo">
          Licenses
        </a>
            </li>
        </ul>
        <ul class="social-buttons float-right">
            <li>
                <a href="#" target="_blank" class="btn btn-just-icon btn-link btn-twitter">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
            <li>
                <a href="#" target="_blank" class="btn btn-just-icon btn-link btn-facebook">
                    <i class="fa fa-facebook"></i>
                </a>
            </li>
            <li>
                <a href="#" target="_blank" class="btn btn-just-icon btn-link btn-instagram">
                    <i class="fa fa-google-plus"></i>
                </a>
            </li>
        </ul>
        <hr>
        <div class="copyright pull-center">
            Copyright &#xA9;
            <script>
                document.write(new Date().getFullYear())
            </script> , hecho con <i class="material-icons">favorite</i> por Boyaca Web Dia.
        </div>
    </div>
    <div class="btn-whatsapp">
        <a href="https://api.whatsapp.com/send?phone=573124872765" target="_blank">
            <img src="http://s2.accesoperu.com/logos/btn_whatsapp.png" alt="">
        </a>
    </div>

</footer>