<br>
<div class="container">
    <br>    <br><br>
    <div id="contactUs2Map" class="map" style="overflow: hidden;"><div style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);"><div class="gm-err-container"><div class="gm-err-content"><div class="gm-err-icon"><img src="https://maps.gstatic.com/mapfiles/api-3/images/icon_error.png" draggable="false" style="user-select: none;"></div><div class="gm-err-title">Se ha producido un error.</div><div class="gm-err-message">Esta página no ha cargado Google Maps correctamente. Descubre los detalles técnicos del problema en la consola de JavaScript.</div></div></div></div></div>
    <div class="col-md-6">
      <div class="card card-contact card-raised">
        <form id="contact-form2" method="post">
          <div class="card-header card-header-rose text-center">
            <h4 class="card-title">Contactenos</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="info info-horizontal">
                  <div class="icon icon-rose">
                    <i class="material-icons">phone</i>
                  </div>
                  <div class="description">
                    <h5 class="info-title">llamanos</h5>
                    <p> Michael Jordan
                      <br> +40 762 321 762
                      <br> Mon - Fri, 8:00-22:00
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info info-horizontal">
                  <div class="icon icon-rose">
                    <i class="material-icons">pin_drop</i>
                  </div>
                  <div class="description">
                    <h5 class="info-title">Encuéntranos en la oficina</h5>
                    <p> Bld Mihail Kogalniceanu, nr. 8,
                      <br> 7652 Bucharest,
                      <br> Romania
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group label-floating is-empty has-rose bmd-form-group">
                  <label class="bmd-label-floating">Nombre Completo</label>
                  <input type="text" name="email" class="form-control">
                  <span class="material-input"></span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group label-floating is-empty has-rose bmd-form-group">
                  <label class="bmd-label-floating">Correo electronco</label>
                  <input type="email" name="email" class="form-control">
                  <span class="material-input"></span>
                </div>
              </div>
            </div>
            <div class="form-group label-floating has-rose is-empty bmd-form-group">
              <label for="exampleMessage" class="bmd-label-floating">Tu mensaje</label>
              <textarea name="message" class="form-control" id="exampleMessage" rows="6"></textarea>
              <span class="material-input"></span>
            </div>
          </div>
          <div class="card-footer justify-content-between">
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value=""> no soy un robot
                <span class="form-check-sign">
                  <span class="check"></span>
                </span>
              </label>
            </div>
            <button type="submit" class="btn btn-rose pull-right">Enviar mensaje</button>
          </div>
        </form>
      </div>
    </div>
  </div>
