<div class="projects-4 bg-white" id="projects-4">
    <div class="container">
        <br><br>
        <div class="row">
            <div class="col-md-5 ml-auto">
                <div class="card card-background"
                    style="background-image:url('{{grupoSeleccionado.imagen}}'); height: 450px; width: 100%;">
                    
                    <div class="card-body mr-0  text-right" style="padding-top: 118px;">
                        <h3 class="card-title text-right"  style="padding-top: 255px;" >{{grupoSeleccionado.nombre_area}}</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-7 m-0 " >
                <div class="info-horizontal ml-1">
                    <div class="icon icon-info">
                        
                    </div>
                    <div class="description m-0" > 
                        <h4 class="info-title">Perfil</h4>
                        <p class="description text-justify" >
                            {{grupoSeleccionado.perfil_profesional}}
                        </p>
                    </div>
                </div>

                
                <div class="row">
                    <div class="info-horizontal ml-4">
                        <div class="icon icon-info">
                        
                        </div>
                        <div class="description">
                            <h4 class="info-title">Áreas De Práctica</h4>
                            <p class="description" *ngFor="let area of arregloGruposAreas">
                               {{area.id_areas_de_practica.nombre}}
                            </p>
                            
                        </div>
                    </div>
                    
                    <div class="info-horizontal ml-4">
                        <div class="icon icon-info">
                        
                        </div>
                        <div class="description">
                            <h4 class="info-title">Idiomas</h4>
                            <p class="description">
                                Ingles
                            </p>
                            <p class="description" >Español</p>
                        </div>
                        
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>