<body id="inicio" class="index-page sidebar-collapse">
    <div   class="page-header header-filter clear-filter" data-parallax="true" style="background-image: url('./assets/img/examples/profile_city.jpg');">
        <div class="container">
          <div class="row">
            <div class="col-md-8 ">
              <div class="brand" style="margin: auto;">
                <img src="assets/img/logo/logo-final-png.png"  style= "height: 720px; margin-top: 140px;  margin-right: 1px; margin-left: 1px;" alt="">
                <!--h1>A & Z 
                </h1>
                <h3 class="title">Holding Group </h3-->
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="main main-raised">
      <!--         quien somos -->
      <div id="quiensomos" class="cd-section">
        <div class="section section-basic">
          <div class="features-1">
            <div class="row">
              <div class="col-md-8 ml-auto mr-auto">
                <h2 class="title">¿Quienes somos?</h2>
                <h5 class="description">somos una firma reconocida tanto a nivel nacional como internacional, destacada siempre por su trabajo y esmero en cada caso</h5>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="info">
                  <div class="icon icon-info">
                    <i class="material-icons">chat</i>
                  </div>
                  <h4 class="info-title">Dialogos</h4>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque fugiat pariatur labore cupiditate sequi quod quae aperiam eveniet. Odit libero rerum suscipit in. Maxime culpa, consequuntur recusandae consequatur ducimus saepe.</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="info">
                  <div class="icon icon-success">
                    <i class="material-icons">verified_user</i>
                  </div>
                  <h4 class="info-title">Cumplimiento</h4>
                  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia, magni? Doloribus perspiciatis sed eius minus! Veniam qui, quibusdam laudantium delectus repellendus facilis autem optio sequi, vitae quas sit voluptatibus distinctio.</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="info">
                  <div class="icon icon-danger">
                    <i class="material-icons">fingerprint</i>
                  </div>
                  <h4 class="info-title">Profesionalismo</h4>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, veniam amet omnis magnam id, rerum quos corrupti provident perferendis nam accusantium sit velit possimus vitae ipsum accusamus voluptas veritatis eos!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--         trabajos -->
      <div id="trabajo" class="cd-section">
        <div class="section-gray">
          
          <!--     *********    MORPHING CARDS     *********      -->
          <div class="cards" id="morphingCards">
            <div class="container">
              <div class="title">
                <br>
                <h2 id="morphingCard">Nuestras Áreas de Práctica</h2>
                <h3 id="rotatingCards">¿Que hacemos?</h3>
              </div>
              <div class="row">
                <div class="col-md-6 col-lg-4">
                  <div class="rotating-card-container">
                    <div class="card card-rotate card-background">
                      <div class="front front-background" style="background-image: url('./assets/img/examples/card-blog5.jpg');">
                        <div class="card-body">
                          <h6 class="card-category">area de trabajo</h6>
                          <a [routerLink]="['/areaPractica']">
                            <h3 class="card-title">Contratacion Privada</h3>
                          </a>
                        </div>
                      </div>
                      <div class="back back-background" style="background-image: url('./assets/img/examples/card-blog5.jpg');">
                        <div class="card-body">
                          <h5 class="card-title">
                            Detalle
                          </h5>
                          <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis alias voluptates ipsa consequuntur repellendus nostrum, non quas ut repellat, impedit, nisi blanditiis dolorum sapiente explicabo magni. Iusto assumenda culpa quidem.</p>
                          <div class="footer text-center">
                            <a [routerLink]="['/areaPractica']" class="btn btn-info  btn-fill btn-round" >
                              <i class="material-icons">subject</i> ver mas
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-4">
                  <div class="rotating-card-container">
                    <div class="card card-rotate card-background">
                      <div class="front front-background" style="background-image: url('./assets/img/examples/card-blog5.jpg');">
                        <div class="card-body">
                          <h6 class="card-category">area de trabajo</h6>
                          <a [routerLink]="['/areaPractica']">
                            <h3 class="card-title">Contratacion Privada</h3>
                          </a>
                        </div>
                      </div>
                      <div class="back back-background" style="background-image: url('./assets/img/examples/card-blog5.jpg');">
                        <div class="card-body">
                          <h5 class="card-title">
                            Detalle
                          </h5>
                          <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis alias voluptates ipsa consequuntur repellendus nostrum, non quas ut repellat, impedit, nisi blanditiis dolorum sapiente explicabo magni. Iusto assumenda culpa quidem.</p>
                          <div class="footer text-center">
                            <a [routerLink]="['/areaPractica']" class="btn btn-info  btn-fill btn-round">
                              <i class="material-icons">subject</i> ver mas
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-4">
                  <div class="rotating-card-container">
                    <div class="card card-rotate card-background">
                      <div class="front front-background" style="background-image: url('./assets/img/examples/card-blog5.jpg');">
                        <div class="card-body">
                          <h6 class="card-category">area de trabajo</h6>
                          <a [routerLink]="['/areaPractica']">
                            <h3 class="card-title">Contratacion Privada</h3>
                          </a>
                        </div>
                      </div>
                      <div class="back back-background" style="background-image: url('./assets/img/examples/card-blog5.jpg');">
                        <div class="card-body">
                          <h5 class="card-title">
                            Detalle
                          </h5>
                          <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis alias voluptates ipsa consequuntur repellendus nostrum, non quas ut repellat, impedit, nisi blanditiis dolorum sapiente explicabo magni. Iusto assumenda culpa quidem.</p>
                          <div class="footer text-center">
                            <a [routerLink]="['/areaPractica']" class="btn btn-info  btn-fill btn-round">
                              <i class="material-icons">subject</i> ver mas
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-4">
                  <div class="rotating-card-container">
                    <div class="card card-rotate card-background">
                      <div class="front front-background" style="background-image: url('./assets/img/examples/card-blog5.jpg');">
                        <div class="card-body">
                          <h6 class="card-category">area de trabajo</h6>
                          <a [routerLink]="['/areaPractica']">
                            <h3 class="card-title">Contratacion Privada</h3>
                          </a>
                        </div>
                      </div>
                      <div class="back back-background" style="background-image: url('./assets/img/examples/card-blog5.jpg');">
                        <div class="card-body">
                          <h5 class="card-title">
                            Detalle
                          </h5>
                          <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis alias voluptates ipsa consequuntur repellendus nostrum, non quas ut repellat, impedit, nisi blanditiis dolorum sapiente explicabo magni. Iusto assumenda culpa quidem.</p>
                          <div class="footer text-center">
                            <a [routerLink]="['/areaPractica']" class="btn btn-info  btn-fill btn-round">
                              <i class="material-icons">subject</i> ver mas
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-4">
                  <div class="rotating-card-container">
                    <div class="card card-rotate card-background">
                      <div class="front front-background" style="background-image: url('./assets/img/examples/card-blog5.jpg');">
                        <div class="card-body">
                          <h6 class="card-category">area de trabajo</h6>
                          <a [routerLink]="['/areaPractica']">
                            <h3 class="card-title">Contratacion Privada</h3>
                          </a>
                        </div>
                      </div>
                      <div class="back back-background" style="background-image: url('./assets/img/examples/card-blog5.jpg');">
                        <div class="card-body">
                          <h5 class="card-title">
                            Detalle
                          </h5>
                          <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis alias voluptates ipsa consequuntur repellendus nostrum, non quas ut repellat, impedit, nisi blanditiis dolorum sapiente explicabo magni. Iusto assumenda culpa quidem.</p>
                          <div class="footer text-center">
                            <a [routerLink]="['/areaPractica']" class="btn btn-info  btn-fill btn-round">
                              <i class="material-icons">subject</i> ver mas
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-4">
                  <div class="rotating-card-container">
                    <div class="card card-rotate card-background">
                      <div class="front front-background" style="background-image: url('./assets/img/examples/card-blog5.jpg');">
                        <div class="card-body">
                          <h6 class="card-category">area de trabajo</h6>
                          <a [routerLink]="['/areaPractica']">
                            <h3 class="card-title">Contratacion Privada</h3>
                          </a>
                        </div>
                      </div>
                      <div class="back back-background" style="background-image: url('./assets/img/examples/card-blog5.jpg');">
                        <div class="card-body">
                          <h5 class="card-title">
                            Detalle
                          </h5>
                          <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis alias voluptates ipsa consequuntur repellendus nostrum, non quas ut repellat, impedit, nisi blanditiis dolorum sapiente explicabo magni. Iusto assumenda culpa quidem.</p>
                          <div class="footer text-center">
                            <a [routerLink]="['/areaPractica']" class="btn btn-info  btn-fill btn-round">
                              <i class="material-icons">subject</i> ver mas
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <br><br><br>
          </div>
          <!--     *********    END MORPHING CARDS      *********      -->

        </div>
      </div>

      <!--         perfil de abogados -->
      <div  class="cd-section">
        <div class="section-gray">
          <!--     *********    PROFILE CARDS     *********      -->
          <div class="cards">
            <div class="container">
              <div id="perfil" class="title mt-0" >
                <h2 class="mt-0">Perfil De Nuestros Abogados</h2>
              </div>
              <div class="row">
                <div class="col-md-4 " style="margin: auto;" >
                  <div class="card card-profile">
                    <div class="card-header card-avatar">
                      <a [routerLink]="['/abogado']">
                        <img class="img" src="assets/img/abogadoPrueba.jpg">
                      </a>
                    </div>
                    <a [routerLink]="['/abogado']">
                      <div class="card-title">
                        Nombre del Abogado 1
                      </div>
                    </a>
                    <div class="card-body ">
                      <h6 class="card-category text-info">Especialidad</h6>
                      <p class="card-description">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui ex facilis praesentium neque, nemo provident! Facilis veritatis hic similique, quam dolorum fugit explicabo et consequuntur aspernatur, amet corporis atque aliquam.
                      </p>
                      <a [routerLink]="['/abogado']" class="btn btn-info btn-round">Ver mas ...</a>
                    </div>
                    <div class="card-footer justify-content-center">
                      <a href="#pablo" class="btn btn-just-icon btn-link btn-twitter">
                        <i class="fa fa-twitter"></i>
                      </a>
                      <a href="#pablo" class="btn btn-just-icon btn-link btn-facebook btn-round">
                        <i class="fa fa-facebook-square"></i>
                      </a>
                      <a href="#pablo" class="btn btn-just-icon btn-link btn-instagram">
                        <i class="fa fa-instagram"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-4" style="margin: auto;">
                  <div class="card card-profile">
                    <div class="card-header card-avatar">
                      <a [routerLink]="['/abogado']">
                        <img class="img" src="assets/img/abogadoPrueba.jpg">
                      </a>
                    </div>
                    <a [routerLink]="['/abogado']">
                      <div class="card-title">
                        Nombre del Abogado 1
                      </div>
                    </a>
                    <div class="card-body ">
                      <h6 class="card-category text-info">Especialidad</h6>
                      <p class="card-description">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui ex facilis praesentium neque, nemo provident! Facilis veritatis hic similique, quam dolorum fugit explicabo et consequuntur aspernatur, amet corporis atque aliquam.
                      </p>
                      <a [routerLink]="['/abogado']" class="btn btn-info btn-round">Ver mas ...</a>
                    </div>
                    <div class="card-footer justify-content-center">
                      <a href="#pablo" class="btn btn-just-icon btn-link btn-twitter">
                        <i class="fa fa-twitter"></i>
                      </a>
                      <a href="#pablo" class="btn btn-just-icon btn-link btn-facebook btn-round">
                        <i class="fa fa-facebook-square"></i>
                      </a>
                      <a href="#pablo" class="btn btn-just-icon btn-link btn-instagram">
                        <i class="fa fa-instagram"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-4" style="margin: auto;">
                  <div class="card card-profile">
                    <div class="card-header card-avatar">
                      <a [routerLink]="['/abogado']">
                        <img class="img" src="assets/img/abogadoPrueba.jpg">
                      </a>
                    </div>
                    <a [routerLink]="['/abogado']">
                      <div class="card-title">
                        Nombre del Abogado 1
                      </div>
                    </a>
                    <div class="card-body ">
                      <h6 class="card-category text-info">Especialidad</h6>
                      <p class="card-description">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui ex facilis praesentium neque, nemo provident! Facilis veritatis hic similique, quam dolorum fugit explicabo et consequuntur aspernatur, amet corporis atque aliquam.
                      </p>
                      <a [routerLink]="['/abogado']" class="btn btn-info btn-round">Ver mas ...</a>
                    </div>
                    <div class="card-footer justify-content-center">
                      <a href="#pablo" class="btn btn-just-icon btn-link btn-twitter">
                        <i class="fa fa-twitter"></i>
                      </a>
                      <a href="#pablo" class="btn btn-just-icon btn-link btn-facebook btn-round">
                        <i class="fa fa-facebook-square"></i>
                      </a>
                      <a href="#pablo" class="btn btn-just-icon btn-link btn-instagram">
                        <i class="fa fa-instagram"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>

      <!--         noticias     -->
      <div id="noticia" class="cd-section">
        <div class="section-white">
          <div class="cards">
            <div class="container">
              <div class="title">
                <h2>Noticias</h2>
                <h3>Noticias Sugeridas</h3>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-6">
                  <div class="card card-blog">
                    <div class="card-header card-header-image">
                      <a href="#pablo">
                        <img class="img" src="./assets/img/examples/card-blog1.jpg">
                        <div class="card-title">
                          This Summer Will be Awesome
                        </div>
                      </a>
                    <div class="colored-shadow" style="background-image: url(&quot;./assets/img/examples/card-blog1.jpg&quot;); opacity: 1;"></div></div>
                    <div class="card-body">
                      <h6 class="card-category text-info">Fashion</h6>
                      <p class="card-description">
                        Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                      </p>
                    </div>
                  </div>
                  <div class="card bg-info">
                    <div class="card-body">
                      <h5 class="card-category card-category-social">
                        <i class="fa fa-twitter"></i> Twitter
                      </h5>
                      <h4 class="card-title">
                        <a href="#pablo">"You Don't Have to Sacrifice Joy to Build a Fabulous Business and Life"</a>
                      </h4>
                    </div>
                    <div class="card-footer">
                      <div class="author">
                        <a href="#pablo">
                          <img src="./assets/img/logo/logo-icono-128.png" alt="..." class="avatar img-raised">
                          <span>Tania Andrew</span>
                        </a>
                      </div>
                      <div class="stats ml-auto">
                        <i class="material-icons">favorite</i> 2.4K ·
                        <i class="material-icons">share</i> 45
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="card">
                    <div class="card-body ">
                      <h6 class="card-category text-danger">
                        <i class="material-icons">trending_up</i> Trending
                      </h6>
                      <h4 class="card-title">
                        <a href="#pablo">To Grow Your Business Start Focusing on Your Employees</a>
                      </h4>
                    </div>
                    <div class="card-footer ">
                      <div class="author">
                        <a href="#pablo">
                          <img src="./assets/img/logo/logo-icono-128.png" alt="..." class="avatar img-raised">
                          <span>Lord Alex</span>
                        </a>
                      </div>
                      <div class="stats ml-auto">
                        <i class="material-icons">favorite</i> 342 ·
                        <i class="material-icons">chat_bubble</i> 45
                      </div>
                    </div>
                  </div>
                  <div class="card card-blog">
                    <div class="card-header card-header-image">
                      <a href="#pablo">
                        <img class="img" src="./assets/img/examples/card-blog2.jpg">
                      </a>
                    <div class="colored-shadow" style="background-image: url(&quot;./assets/img/examples/card-blog2.jpg&quot;); opacity: 1;"></div></div>
                    <div class="card-body ">
                      <h6 class="card-category text-success">Legal</h6>
                      <h4 class="card-title">
                        <a href="#pablo">5 Common Legal Mistakes That Can Trip-Up Your Startup</a>
                      </h4>
                      <p class="card-description">
                        Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                      </p>
                    </div>
                    <div class="card-footer ">
                      <div class="author">
                        <a href="#pablo">
                          <img src="./assets/img/logo/logo-icono-128.png" alt="..." class="avatar img-raised">
                          <span>Mike John</span>
                        </a>
                      </div>
                      <div class="stats ml-auto">
                        <i class="material-icons">schedule</i> 5 min read
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-12">
                  <div class="row">
                    <div class="col-lg-12 col-md-6">
                      <div class="card card-blog">
                        <div class="card-header card-header-image">
                          <a href="#pablo">
                            <img class="img" src="./assets/img/examples/blog8.jpg">
                          </a>
                        <div class="colored-shadow" style="background-image: url(&quot;./assets/img/examples/blog8.jpg&quot;); opacity: 1;"></div></div>
                        <div class="card-body ">
                          <h6 class="card-category text-danger">
                            <i class="material-icons">trending_up</i> Trending
                          </h6>
                          <h4 class="card-title">
                            <a href="#pablo">To Grow Your Business Start Focusing on Your Employees</a>
                          </h4>
                        </div>
                        <div class="card-footer ">
                          <div class="author">
                            <a href="#pablo">
                              <img src="./assets/img/logo/logo-icono-128.png" alt="..." class="avatar img-raised">
                              <span>Mike John</span>
                            </a>
                          </div>
                          <div class="stats ml-auto">
                            <i class="material-icons">schedule</i> 5 min read
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-6">
                      <div class="card bg-success">
                        <div class="card-body ">
                          <h5 class="card-category card-category-social">
                            <i class="fa fa-newspaper-o"></i> TechCrunch
                          </h5>
                          <h4 class="card-title">
                            <a href="#pablo">"Focus on Your Employees"</a>
                          </h4>
                          <p class="card-description">
                            Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                          </p>
                          <div class="card-stats justify-content-center">
                            <a href="#pablo" class="btn btn-white btn-round">Read Article</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--     *********    END BLOG CARDS      *********      -->
        </div>
      </div>

    </div>
    <nav id="cd-vertical-nav">
      <ul>
        <li>
          <a href="#inicio" data-number="1">
            <span class="cd-dot"></span>
            <span class="cd-label">Inicio</span>
          </a>
        </li>
        <li>
          <a href="#quiensomos" data-number="2">
            <span class="cd-dot"></span>
            <span class="cd-label">¿Quienes somos?</span>
          </a>
        </li>
        <li>
          <a href="#trabajo" data-number="3">
            <span class="cd-dot"></span>
            <span class="cd-label">Áreas</span>
          </a>
        </li>
        <li>
          <a href="#perfil" data-number="4">
            <span class="cd-dot"></span>
            <span class="cd-label">Abogados</span>
          </a>
        </li>
        <li>
          <a href="#noticia" data-number="5">
            <span class="cd-dot"></span>
            <span class="cd-label">noticias</span>
          </a>
        </li>
      </ul>
    </nav>
  </body>