<div class="projects-4 bg-white" id="projects-4">
    <div class="container">
        <br><br>
        <div class="row">
            <div class="col-md-5 ml-auto">
                <div class="card card-background" style="background-image:url('./assets/img/tecnico.jpg'); height: 450px; width: 100%;">

                    <div class="card-body mr-0  text-right" style="padding-top: 118px;">
                        <h3 class="card-title text-right" style="padding-top: 256px;">Especialistas en labores de responsabilidad</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-7 m-0 ">
                <div class="info-horizontal ml-1">
                    <div class="icon icon-info">

                    </div>
                    <div class="description m-0">
                        <h4 class="info-title">Perfil</h4>
                        <p class="description text-justify">
                            - Capacidad creativa, de trabajo autónomo, espíritu emprendedor y condiciones para la adaptación a situaciones emergentes
                            <br> - Desarrollo de la potencialidad para estar constantemente actualizándose
                            <br> - Competencias para trabajar en grupos de carácter interdisciplinario, incluyendo las potencialidades comunicacionales que permiten el manejo de herramientas informáticas y el dominio del idioma materno, como de otros
                            idiomas universales.
                            <br> - Habilidades para identificar, acceder y utilizar información relevante en el momento oportuno.
                        </p>
                    </div>
                </div>


                <div class="row">
                    <div class="info-horizontal ml-4">
                        <div class="icon icon-info">

                        </div>
                        <div class="description">
                            <h4 class="info-title">Áreas De Práctica</h4>
                            <p class="description">
                                Área 1 x x x x x x x x x x x x x x x a
                            </p>
                            <p class="description">
                                Área 2
                            </p>
                            <p class="description">
                                Área 3
                            </p>
                        </div>
                    </div>

                    <div class="info-horizontal ml-4">
                        <div class="icon icon-info">

                        </div>
                        <div class="description">
                            <h4 class="info-title">Idiomas</h4>
                            <p class="description">
                                Ingles
                            </p>
                            <p class="description">Español</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>