<div class="projects-4 bg-white" id="projects-4">
    <div class="container">
        <br><br>
        <div class="row">
            <div class="col-md-5 ml-auto">
                <div class="card card-background"
                    style="background-image:url('./assets/img/examples/areapractica3.jpg'); height: 450px;">
                    
                    <div class="card-body mr-0  text-right">
                        <h3 class="card-title text-right"  style="padding-top: 232px;" >Asesoría de Proyectos Minero Energéticos</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-7 m-0 " >
                <div class="info-horizontal ml-1">
                    <div class="icon icon-info">
                        
                    </div>
                    <div class="description m-0" > 
                        <h4 class="info-title">Objetivo</h4>
                        <p class="description text-justify" >
                            Asesoría técnica y jurídica en proyectos Minero Energéticos, enfoque de energías renovables
                        </p>
                    </div>
                </div>

                <div class="info-horizontal ml-1">
                    <div class="icon icon-info">
                        
                    </div>
                    <div class="description">
                        <h4 class="info-title">Definición</h4>
                        <p class="description">
                            Somos una firma con gran experiencia en asesorías técnicas y jurídicas en proyectos Minero Energéticos, especializado en energías renovables, facilitando el desarrollo del proyecto con nuestro equipo de trabajo conformado por abogados ingenieros y técnicos con la experiencia para asesorar cualquier etapa de ejecución del proyecto.
                        </p>
                    </div>

                </div>             
            </div>
        </div>
    </div>
</div>