<div class="projects-4 bg-white" id="projects-4">
    <div class="container">
        <br><br>
        <div class="row">
            <div class="col-md-5 ml-auto">
                <div class="card card-background" style="background-image:url('./assets/img/desarrollo.jpg'); height: 450px;">

                    <div class="card-body mr-0  text-right">
                        <h3 class="card-title text-right" style="padding-top: 256px;">Asesoria en Desarrollo</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-7 m-0 ">
                <div class="info-horizontal ml-1">
                    <div class="icon icon-info">

                    </div>
                    <div class="description m-0">
                        <h4 class="info-title">Objetivo</h4>
                        <p class="description text-justify">
                            Asesorías, consultorías y representación en todas aquellas actividades relacionadas con la protección, mantenimiento, promoción y conservación del aire, suelo, subsuelo, flora y fauna, licencias y permisos ambientales ante las autoridades competentes,
                            tales como Ministerio del Medio Ambiente y Corporaciones Autónomas Regionales, entre otras.
                        </p>
                    </div>
                </div>

                <div class="info-horizontal ml-1">
                    <div class="icon icon-info">

                    </div>
                    <div class="description">
                        <h4 class="info-title">Definición</h4>
                        <p class="description">
                            - Ejercicio del derecho enfocado al análisis y aplicación del bloque de constitucionalidad, tratados internacionales y principios rectores de naciones unidas sobre derechos humanos y de la empresa. </p>
                        <br>
                        <p class="description">
                            - Asistencia legal en procedimientos sancionatorios ambientales.
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>