<div class="projects-4 bg-white" id="projects-4">
    <div class="container">
        <br><br>
        <div class="row">
            <div class="col-md-5 ml-auto">
                <div class="card card-background" style="background-image:url('./assets/img/trabajo.jpg'); height: 450px;">

                    <div class="card-body mr-0  text-right">
                        <h3 class="card-title text-right" style="padding-top: 256px;">Asesoria Laboral y Seguridad Social</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-7 m-0 ">
                <div class="info-horizontal ml-1">
                    <div class="icon icon-info">

                    </div>
                    <div class="description m-0">
                        <h4 class="info-title">Objetivo</h4>
                        <p class="description text-justify">
                            Se encuentra conformada por profesionales especializados en Derecho Laboral y Seguridad Social, con amplia experiencia en consultorías en Derecho Laboral Individual y en Derecho Laboral Colectivo, así como en litigio en procesos laborales en primera instancia,
                            segunda instancia y Corte Suprema de Justicia.</p>
                    </div>
                </div>

                <div class="info-horizontal ml-1">
                    <div class="icon icon-info">

                    </div>
                    <div class="description">
                        <h4 class="info-title">Definición</h4>
                        <p class="description">
                            -La absolución de consultas.
                            <br>
                            <p class="description">
                                -Representación extraprocesal y judicialmente de clientes, en defensa de sus derechos laborales.

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>